*.ts
!*.d.ts
/spec

/types
/.gitignore
/.mversionrc
/console-colors.iml
/tasks
test
typings
bundled
build
temp
coverage
docs
wiki
gulpfile.js
bower.json
karma.conf.js
tsconfig.json
typings.json
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
tslint.json
wallaby.js
.travis.yml
.vscode
.publishrc
type_definitions
jasmine.*
.editorconfig
index.html
/dts
/bower_components
/npm-debug.log

/src